/* screen - doctor-portal-chat-choose */

.doctor-portal-chat-choose {
  align-items: flex-start;
  background-color: var(--grey1);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1972px;
  overflow: hidden;
  width: 1440px;
}

.doctor-portal-chat-choose .navbartop {
  align-items: flex-start;
  display: flex;
  height: 49px;
  left: 0;
  min-width: 1452px;
  position: fixed;
  top: 0;
  z-index: 3;
}

.doctor-portal-chat-choose .navbar-link-container {
  align-items: center;
  background-color: var(--blued2);
  box-shadow: 0px 8px 24px 3px #09788d6e;
  display: flex;
  height: 49px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 10px 17px;
}

.doctor-portal-chat-choose .navbar-link-ml-care {
  align-self: flex-start;
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  min-height: 28px;
  min-width: 102px;
}

.doctor-portal-chat-choose .navbar-link-about-us {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 650px;
  margin-top: 3.0px;
  min-height: 22px;
  min-width: 81px;
}

.doctor-portal-chat-choose .navbar-link-products {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 44px;
  margin-top: 3.0px;
  min-height: 22px;
  min-width: 86px;
}

.doctor-portal-chat-choose .navbar-link-services {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 45px;
  margin-top: 3.0px;
  min-height: 22px;
  min-width: 73px;
}

.doctor-portal-chat-choose .navbar-link-contact-us {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 47px;
  margin-top: 3.0px;
  min-height: 22px;
  min-width: 101px;
}

.doctor-portal-chat-choose .navbar-link-sign-uplog-in {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 46px;
  margin-top: 3.0px;
  min-height: 22px;
  min-width: 128px;
}

.doctor-portal-chat-choose .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  height: 1065px;
  margin-left: 12px;
  margin-top: 131px;
  min-width: 1391px;
  z-index: 1;
}

.doctor-portal-chat-choose .sidebar-doc {
  align-items: center;
  background-color: var(--blued2);
  border: 1px none;
  border-radius: 10px;
  box-shadow: 0px 8px 24px #54d2e9;
  display: flex;
  flex-direction: column;
  min-height: 1065px;
  padding: 27px 0;
  width: 120px;
}

.doctor-portal-chat-choose .ml-care {
  letter-spacing: 0;
  line-height: 30px;
  min-height: 60px;
  min-width: 62px;
  text-align: center;
}

.doctor-portal-chat-choose .home {
  cursor: pointer;
  height: 28px;
  margin-right: 1.0px;
  margin-top: 137px;
  width: 33px;
}

.doctor-portal-chat-choose .vector {
  cursor: pointer;
  height: 28px;
  margin-right: 1.0px;
  margin-top: 51px;
  width: 41px;
}

.doctor-portal-chat-choose .calendar {
  cursor: pointer;
  height: 38px;
  margin-right: 1.0px;
  margin-top: 40px;
  width: 33px;
}

.doctor-portal-chat-choose .feedback {
  cursor: pointer;
  height: 28px;
  margin-right: 1.0px;
  margin-top: 46px;
  width: 33px;
}

.doctor-portal-chat-choose .overlap-group1 {
  align-items: flex-end;
  background-color: var(--blued3);
  border-radius: 10px;
  display: flex;
  height: 47px;
  margin-top: 30px;
  min-width: 56px;
  padding: 6px 11px;
}

.doctor-portal-chat-choose .chat {
  height: 34px;
  width: 33px;
}

.doctor-portal-chat-choose .setting {
  cursor: pointer;
  height: 31px;
  margin-right: 3.0px;
  margin-top: 31px;
  width: 33px;
}

.doctor-portal-chat-choose .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 82px;
  margin-top: 8px;
  min-height: 453px;
  width: 1247px;
}

.doctor-portal-chat-choose .flex-row-1 {
  align-items: center;
  display: flex;
  height: 90px;
  min-width: 1247px;
}

.doctor-portal-chat-choose .dr-ak-mehta {
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: 22.0px;
  min-width: 490px;
  white-space: nowrap;
}

.doctor-portal-chat-choose .bell {
  align-self: flex-end;
  height: 88px;
  margin-left: 465px;
  width: 82px;
}

.doctor-portal-chat-choose .flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 11.0px;
  margin-left: 12px;
  min-height: 35px;
  width: 114px;
}

.doctor-portal-chat-choose .dr-ak-mehta-1 {
  letter-spacing: 0;
  line-height: 15px;
  min-width: 114px;
  text-align: center;
  white-space: nowrap;
}

.doctor-portal-chat-choose .avatar-image-60 {
  align-self: flex-start;
  background-image: url(../img/avatar---image-60-24@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  border-radius: 40px;
  box-shadow: 0px 8px 24px #a5dbe5;
  height: 75px;
  margin-left: 9px;
  width: 75px;
}

.doctor-portal-chat-choose .overlap-group3 {
  align-items: center;
  background-color: var(--grey);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 34px;
  min-height: 281px;
  padding: 30px 0;
  width: 1228px;
}

.doctor-portal-chat-choose .overlap-group5 {
  align-items: flex-start;
  background-color: var(--blued2);
  border-radius: 10px;
  box-shadow: 0px 8px 20px #54d2e9;
  display: flex;
  height: 56px;
  min-width: 1194px;
  padding: 13px 533px;
}

.doctor-portal-chat-choose .overlap-group-container {
  align-items: flex-start;
  display: flex;
  gap: 71px;
  margin-right: 9.0px;
  min-width: 1179px;
}

.doctor-portal-chat-choose .overlap-group {
  height: 122px;
  position: relative;
  width: 554px;
}

.doctor-portal-chat-choose .rectangle-8 {
  background-color: var(--grey1);
  border: 1px none;
  border-radius: 10px;
  box-shadow: 0px 8px 20px #9fa4a426;
  height: 121px;
  left: 0;
  position: absolute;
  top: 0;
  width: 554px;
}

.doctor-portal-chat-choose .confidential {
  left: 460px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 86px;
  white-space: nowrap;
}

.doctor-portal-chat-choose .ms-cary-acquiger {
  left: 103px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 17px;
  white-space: nowrap;
}

.doctor-portal-chat-choose .rectangle-84 {
  background-color: var(--orangel1);
  border: 1px none;
  border-radius: 10px;
  box-shadow: 0px 8px 20px #c0f689ab;
  cursor: pointer;
  height: 32px;
  left: 107px;
  position: absolute;
  top: 66px;
  width: 121px;
}

.doctor-portal-chat-choose .vector-1 {
  height: 107px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 107px;
}

.doctor-portal-chat-choose .medico-legal {
  left: 452px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 86px;
  white-space: nowrap;
}

.doctor-portal-chat-choose .alley {
  left: 137px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 22px;
  white-space: nowrap;
}

.doctor-portal-chat-choose .rectangle-86 {
  background-color: var(--orangel1);
  border: 1px none;
  border-radius: 10px;
  box-shadow: 0px 8px 20px #c0f689ab;
  cursor: pointer;
  height: 32px;
  left: 137px;
  position: absolute;
  top: 66px;
  width: 121px;
}

.doctor-portal-chat-choose .vector-2 {
  height: 107px;
  left: 9px;
  position: absolute;
  top: 15px;
  width: 107px;
}

.doctor-portal-chat-choose .footer {
  align-items: flex-start;
  display: flex;
  margin-top: 169px;
  min-width: 1474px;
  z-index: 2;
}

.doctor-portal-chat-choose .flex-row-2 {
  align-items: flex-start;
  background-color: var(--blued2);
  display: flex;
  gap: 88px;
  height: 607px;
  min-width: 1440px;
  padding: 105px 138px;
}

.doctor-portal-chat-choose .flex-row-3 {
  align-items: flex-start;
  display: flex;
  gap: 298px;
  height: 373px;
  min-width: 852px;
}

.doctor-portal-chat-choose .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 199px;
  width: 405px;
}

.doctor-portal-chat-choose .vector-container {
  align-items: flex-end;
  display: flex;
  margin-left: 7px;
  min-width: 253px;
}

.doctor-portal-chat-choose .vector-3 {
  height: 50px;
  width: 49px;
}

.doctor-portal-chat-choose .vector-4 {
  height: 56px;
  margin-left: 43px;
  width: 56px;
}

.doctor-portal-chat-choose .vector-5 {
  height: 52px;
  margin-left: 41px;
  width: 64px;
}

.doctor-portal-chat-choose .lorem-ipsum-container {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-height: 330px;
  width: 149px;
}
