/* screen - patient-portal-chat-app-volunteer */

.patient-portal-chat-app-volunteer {
  align-items: flex-start;
  background-color: var(--grey1);
  border: 1px none;
  display: flex;
  height: 2071px;
  overflow: hidden;
  width: 1440px;
}

.patient-portal-chat-app-volunteer .overlap-group6 {
  height: 1940px;
  margin-top: 131px;
  position: relative;
  width: 1474px;
  z-index: 1;
}

.patient-portal-chat-app-volunteer .overlap-group4 {
  height: 948px;
  left: 156px;
  position: absolute;
  top: 161px;
  width: 1232px;
}

.patient-portal-chat-app-volunteer .rectangle-80 {
  background-color: var(--grey);
  border: 1px none;
  border-radius: 10px;
  height: 948px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 1228px;
}

.patient-portal-chat-app-volunteer .rectangle-77 {
  background-color: var(--grey1);
  border: 1px none;
  border-radius: 10px;
  box-shadow: 0px 8px 20px #d0d3d4;
  height: 128px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1232px;
}

.patient-portal-chat-app-volunteer .rectangle-84 {
  background-color: var(--cotton-seed);
  border: 1px none;
  border-radius: 10px;
  box-shadow: 0px 8px 20px #968c8c87;
  height: 80px;
  left: 75px;
  position: absolute;
  top: 370px;
  width: 80px;
}

.patient-portal-chat-app-volunteer .rectangle-86 {
  background-color: var(--cotton-seed);
  border: 1px none;
  border-radius: 10px;
  box-shadow: 0px 8px 20px #968c8c87;
  height: 80px;
  left: 267px;
  position: absolute;
  top: 370px;
  width: 80px;
}

.patient-portal-chat-app-volunteer .alley {
  left: 115px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 41px;
  white-space: nowrap;
}

.patient-portal-chat-app-volunteer .rectangle-82 {
  background-color: var(--blued2);
  border: 1px none;
  border-radius: 10px;
  box-shadow: 0px 8px 20px #c0f689ab;
  height: 31px;
  left: 1089px;
  position: absolute;
  top: 835px;
  width: 104px;
}

.patient-portal-chat-app-volunteer .avatar-image-60 {
  background-image: url(../img/avatar---image-60-15@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  border-radius: 40px;
  box-shadow: 0px 8px 24px #a5dbe5;
  height: 75px;
  left: 20px;
  position: absolute;
  top: 35px;
  width: 75px;
}

.patient-portal-chat-app-volunteer .avatar-image-60-1 {
  background-image: url(../img/avatar---image-60-16@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  border-radius: 40px;
  box-shadow: 0px 8px 24px #a5dbe5;
  height: 51px;
  left: 20px;
  position: absolute;
  top: 185px;
  width: 51px;
}

.patient-portal-chat-app-volunteer .avatar-image-60-2 {
  background-image: url(../img/avatar---image-60-17@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  border-radius: 40px;
  box-shadow: 0px 8px 24px #a5dbe5;
  height: 51px;
  left: 1153px;
  position: absolute;
  top: 498px;
  transform: rotate(180deg);
  width: 51px;
}

.patient-portal-chat-app-volunteer .image {
  height: 24px;
  left: 103px;
  position: absolute;
  top: 398px;
  width: 24px;
}

.patient-portal-chat-app-volunteer .image-1 {
  height: 24px;
  left: 199px;
  position: absolute;
  top: 398px;
  width: 24px;
}

.patient-portal-chat-app-volunteer .image-2 {
  height: 24px;
  left: 295px;
  position: absolute;
  top: 398px;
  width: 24px;
}

.patient-portal-chat-app-volunteer .place {
  color: var(--grey1);
  font-family: var(--font-family-roboto);
  font-size: 15px;
  font-weight: 600;
  left: 1112px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 836px;
  white-space: nowrap;
}

.patient-portal-chat-app-volunteer .overlap-group {
  align-items: center;
  background-color: var(--greenl4);
  border-radius: 10px;
  box-shadow: 0px 8px 24px #c0f689;
  display: flex;
  height: 84px;
  left: 156px;
  min-width: 315px;
  padding: 0 42px;
  position: absolute;
  top: 6px;
}

.patient-portal-chat-app-volunteer .avatar-image-60-3 {
  background-image: url(../img/avatar---image-60-14@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  border-radius: 40px;
  box-shadow: 0px 8px 24px #a5dbe5;
  height: 75px;
  left: 1328px;
  position: absolute;
  top: 8px;
  width: 75px;
}

.patient-portal-chat-app-volunteer .markus-mcgill {
  left: 1249px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 31px;
}

.patient-portal-chat-app-volunteer .bell {
  height: 88px;
  left: 1131px;
  position: absolute;
  top: 10px;
  width: 82px;
}

.patient-portal-chat-app-volunteer .overlap-group5 {
  height: 1940px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1474px;
}

.patient-portal-chat-app-volunteer .sidebar {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 1492px;
  left: 12px;
  min-width: 120px;
  position: absolute;
  top: 0;
}

.patient-portal-chat-app-volunteer .overlap-group1 {
  align-items: center;
  background-color: var(--blued2);
  border-radius: 10px;
  box-shadow: 0px 8px 24px #54d2e9;
  display: flex;
  flex-direction: column;
  min-height: 1219px;
  padding: 27px 0;
  width: 120px;
}

.patient-portal-chat-app-volunteer .ml-care {
  letter-spacing: 0;
  line-height: 30px;
  min-height: 60px;
  min-width: 62px;
  text-align: center;
}

.patient-portal-chat-app-volunteer .home {
  cursor: pointer;
  height: 28px;
  margin-right: 1.0px;
  margin-top: 137px;
  width: 33px;
}

.patient-portal-chat-app-volunteer .emr {
  cursor: pointer;
  height: 34px;
  margin-left: 1.0px;
  margin-top: 48px;
  width: 33px;
}

.patient-portal-chat-app-volunteer .calendar {
  cursor: pointer;
  height: 38px;
  margin-right: 1.0px;
  margin-top: 37px;
  width: 33px;
}

.patient-portal-chat-app-volunteer .lab {
  cursor: pointer;
  height: 46px;
  margin-left: 1.0px;
  margin-top: 37px;
  width: 21px;
}

.patient-portal-chat-app-volunteer .bill {
  cursor: pointer;
  height: 28px;
  margin-left: 1.0px;
  margin-top: 37px;
  width: 43px;
}

.patient-portal-chat-app-volunteer .feedback {
  cursor: pointer;
  height: 28px;
  margin-left: 1.0px;
  margin-top: 37px;
  width: 33px;
}

.patient-portal-chat-app-volunteer .overlap-group-1 {
  align-items: flex-end;
  background-color: var(--blued3);
  border-radius: 10px;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin-top: 23px;
  min-width: 56px;
  padding: 12px 11px;
}

.patient-portal-chat-app-volunteer .chat {
  height: 34px;
  width: 33px;
}

.patient-portal-chat-app-volunteer .setting {
  cursor: pointer;
  height: 31px;
  margin-right: 1.0px;
  margin-top: 25px;
  width: 33px;
}

.patient-portal-chat-app-volunteer .flex-row {
  align-items: flex-start;
  background-color: var(--blued2);
  display: flex;
  gap: 88px;
  height: 607px;
  left: 0;
  min-width: 1440px;
  padding: 105px 138px;
  position: absolute;
  top: 1333px;
}

.patient-portal-chat-app-volunteer .flex-row-1 {
  align-items: flex-start;
  display: flex;
  gap: 298px;
  height: 373px;
  min-width: 852px;
}

.patient-portal-chat-app-volunteer .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 199px;
  width: 405px;
}

.patient-portal-chat-app-volunteer .vector-container {
  align-items: flex-end;
  display: flex;
  margin-left: 7px;
  min-width: 253px;
}

.patient-portal-chat-app-volunteer .vector {
  height: 50px;
  width: 49px;
}

.patient-portal-chat-app-volunteer .vector-1 {
  height: 56px;
  margin-left: 43px;
  width: 56px;
}

.patient-portal-chat-app-volunteer .vector-2 {
  height: 52px;
  margin-left: 41px;
  width: 64px;
}

.patient-portal-chat-app-volunteer .lorem-ipsum-container {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-height: 330px;
  width: 149px;
}

.patient-portal-chat-app-volunteer .navbartop {
  align-items: flex-start;
  display: flex;
  height: 49px;
  left: 0;
  min-width: 1452px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.patient-portal-chat-app-volunteer .navbar-link-container {
  align-items: center;
  background-color: var(--blued2);
  box-shadow: 0px 8px 24px 3px #09788d6e;
  display: flex;
  height: 49px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 10px 17px;
}

.patient-portal-chat-app-volunteer .navbar-link-ml-care {
  align-self: flex-start;
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  min-height: 28px;
  min-width: 102px;
}

.patient-portal-chat-app-volunteer .navbar-link-about-us {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 650px;
  margin-top: 3.0px;
  min-height: 22px;
  min-width: 81px;
}

.patient-portal-chat-app-volunteer .navbar-link-products {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 44px;
  margin-top: 3.0px;
  min-height: 22px;
  min-width: 86px;
}

.patient-portal-chat-app-volunteer .navbar-link-services {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 45px;
  margin-top: 3.0px;
  min-height: 22px;
  min-width: 73px;
}

.patient-portal-chat-app-volunteer .navbar-link-contact-us {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 47px;
  margin-top: 3.0px;
  min-height: 22px;
  min-width: 101px;
}

.patient-portal-chat-app-volunteer .navbar-link-sign-uplog-in {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 46px;
  margin-top: 3.0px;
  min-height: 22px;
  min-width: 128px;
}
