<% layout('Layout/boilerplate')%>
    <input type="hidden" id="anPageName" name="page" value="add-patient" />
    <div class="container-center-horizontal">
        <div class="add-patient screen">
            <div class="navbartop">
                <div class="navbar-link-container">
                    <a href="/home-page" class="align-self-flex-start">
                        <div class="navbar-link-ml-care roboto-black-white-24px">ML CARE</div>
                    </a>
                    <a href="/about-us">
                        <div class="navbar-link-about-us opensans-bold-white-16px">ABOUT US</div>
                    </a>
                    <div class="navbar-link-products opensans-bold-white-16px">PRODUCTS</div>
                    <div class="navbar-link-services opensans-bold-white-16px">SERVICES</div>
                    <div class="navbar-link-contact-us opensans-bold-white-16px">CONTACT US</div>
                    <% if(!currentUser) {%>
                        <a href="/sign-up">
                            <div class="navbar-link-sign-uplog-in opensans-bold-white-16px">SIGN UP/LOG IN</div>
                        </a>
                        <% } %>
                </div>
            </div>
            <form action="/Patient/add-patient" method="post">
                <div class="flex-row">
                    <div class="sign-up-as roboto-black-metallic-seaweed-64px">SIGN UP AS</div>
                    <div class="patient">PATIENT</div>
                </div>
                <div class="blood-group roboto-bold-scooter-32px">BLOOD GROUP</div>
                <input type="text" name="Patient[bloodgrp]" class="rectangle-5"></input>
                <div class="blood-pressure roboto-bold-scooter-32px">BLOOD PRESSURE</div>
                <input type="number" name="Patient[bloodprs]" class="rectangle-12"></input>
                <div class="pulse-rate roboto-bold-scooter-32px">PULSE RATE</div>
                <input type="number" name="Patient[pulserate]" class="rectangle-165"></input>
                <div class="pulse-rate roboto-bold-scooter-32px">Age</div>
                <input type="number" name="Patient[age]" class="rectangle-165"></input>
                <div class="height roboto-bold-scooter-32px">HEIGHT</div>
                <input type="number" name="Patient[height]" class="rectangle-169"></input>
                <div class="weight roboto-bold-scooter-32px">WEIGHT</div>
                <input type="number" name="Patient[weight]" class="rectangle-170"></input>
                <div class="pre-history roboto-bold-scooter-32px">PRE HISTORY</div>
                <input type="text" name="Patient[prehistory]" class="rectangle-166"></input>
                <div class="condition roboto-bold-scooter-32px">CONDITION</div>
                <input type="text" name="Patient[condition]" class="rectangle-167"></input>
                <div class="prferred-doctor roboto-bold-scooter-32px">PRFERRED DOCTOR</div>
                <input type="text" name="Patient[prferreddoctor]" class="rectangle-168"></input>
                <button type="submit" class="overlap-group2">
                    <a href="patient-portal-standard">
                        <div class="rectangle-164"></div>
                    </a>
                    <div class="sign-up roboto-bold-black-squeeze-32px">SIGN UP</div>
                </button>
            </form>
            <div class="footer">
                <div class="flex-row-1">
                    <div class="flex-row-2">
                        <div class="flex-col">
                            <div class="ml-care roboto-black-white-96px">ML CARE</div>
                            <div class="vector-container">
                                <img class="vector" src="/img/vector-251@2x.svg" alt="Vector" />
                                <img class="vector-1" src="/img/vector-252@2x.svg" alt="Vector" />
                                <img class="vector-2" src="/img/vector-253@2x.svg" alt="Vector" />
                            </div>
                        </div>
                        <div class="lorem-ipsum-container inter-medium-white-24px">
                            <!-- <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div> -->
                        </div>
                    </div>
                    <div class="lorem-ipsum-container-1 inter-medium-white-24px">
                        <!-- <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

    </html>