<% layout('Layout/boilerplate')%>

    <input type="hidden" id="anPageName" name="page" value="patient-portal-billing" />
    <div class="container-center-horizontal">
        <div class="patient-portal-billing screen">
            <div class="overlap-group5">
                <div class="overlap-group">
                    <div class="in-patient opensans-extra-bold-palm-green-40px">PATIENT</div>
                </div>
                <div class="avatar-image-60"></div>
                <div class="markus-mcgill opensans-bold-black-16px">
                    <%=Patient.UserDetails.Name%><br /></div>
                <img class="bell" src="/img/bell-12@2x.svg" alt="bell" />
                <div class="overlap-group4">
                    <div class="sidebar">
                        <div class="overlap-group1">
                            <div class="ml-care roboto-black-black-squeeze-24px">ML<br />CARE</div>
                            <a href="patient-portal-standard"><img class="home" src="/img/home@2x.svg" alt="home" /> </a>
                            <a href="patient-portal-emr"><img class="emr" src="/img/emr@2x.svg" alt="emr" /> </a>
                            <a href="patient-portal-calendar"><img class="calendar" src="/img/calendar@2x.svg" alt="calendar" /> </a>
                            <a href="patient-portal-lab-tests"><img class="lab" src="/img/lab@2x.svg" alt="lab" /> </a>
                            <a href="patient-portal-billing"><img class="bill" src="/img/bill@2x.svg" alt="bill" /> </a>
                            <div class="overlap-group-1"><img class="feedback" src="/img/feedback@2x.svg" alt="feedback" /></div>
                            <a href="patient-portal-chat-app-doc-vol"><img class="chat" src="/img/chat@2x.svg" alt="chat" /> </a>
                            <a href="patient-portal-settings"><img class="setting" src="/img/setting@2x.svg" alt="setting" />
                            </a>
                        </div>
                    </div>
                    <div class="flex-row">
                        <div class="flex-row-1">
                            <div class="flex-col">
                                <div class="ml-care-1 roboto-black-white-96px">ML CARE</div>
                                <div class="vector-container">
                                    <img class="vector" src="/img/vector-203@2x.svg" alt="Vector" />
                                    <img class="vector-1" src="/img/vector-204@2x.svg" alt="Vector" />
                                    <img class="vector-2" src="/img/vector-205@2x.svg" alt="Vector" />
                                </div>
                            </div>
                            <div class="lorem-ipsum-container inter-medium-white-24px">
                                <!-- <div class="lorem-ipsum">Lorem Ipsum</div>
                                <div class="lorem-ipsum">Lorem Ipsum</div>
                                <div class="lorem-ipsum">Lorem Ipsum</div>
                                <div class="lorem-ipsum">Lorem Ipsum</div>
                                <div class="lorem-ipsum">Lorem Ipsum</div>
                                <div class="lorem-ipsum">Lorem Ipsum</div>
                                <div class="lorem-ipsum">Lorem Ipsum</div>
                                <div class="lorem-ipsum">Lorem Ipsum</div> -->
                            </div>
                        </div>
                        <div class="lorem-ipsum-container-1 inter-medium-white-24px">
                            <!-- <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div> -->
                        </div>
                    </div>
                </div>
                <img class="under-construction" src="/img/under-construction@2x.svg" alt="under construction" />
                <div class="surname roboto-black-silver-chalice-64px">PAGE UNDER CONSTRUCTION</div>
            </div>
            <div class="navbartop">
                <div class="navbar-link-container">
                    <a href="/home-page" class="align-self-flex-start">
                        <div class="navbar-link-ml-care roboto-black-white-24px">ML CARE</div>
                    </a>
                    <a href="/about-us">
                        <div class="navbar-link-about-us opensans-bold-white-16px">ABOUT US</div>
                    </a>
                    <div class="navbar-link-products opensans-bold-white-16px">PRODUCTS</div>
                    <div class="navbar-link-services opensans-bold-white-16px">SERVICES</div>
                    <div class="navbar-link-contact-us opensans-bold-white-16px">CONTACT US</div>
                    <% if(!currentUser) {%>
                        <a href="/sign-up">
                            <div class="navbar-link-sign-uplog-in opensans-bold-white-16px">SIGN UP/LOG IN</div>
                        </a>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
    </body>

    </html>