<% layout('Layout/boilerplate')%>

    <input type="hidden" id="anPageName" name="page" value="patient-portal-chat-app-volunteer" />
    <div class="container-center-horizontal">
        <div class="patient-portal-chat-app-volunteer screen">
            <div class="overlap-group6">
                <div class="overlap-group4">
                    <div class="rectangle-80"></div>
                    <div class="rectangle-77"></div>
                    <div class="rectangle-81"></div>
                    <div class="rectangle-87"></div>
                    <div class="rectangle-89"></div>
                    <div class="rectangle-84"></div>
                    <div class="rectangle-85"></div>
                    <div class="rectangle-86"></div>
                    <div class="rectangle-83"></div>
                    <div class="rectangle-88"></div>
                    <div class="alley roboto-bold-eastern-blue-32px">Alley</div>
                    <div class="alley-1 roboto-bold-black-20px">Alley</div>
                    <div class="you roboto-bold-black-20px">You</div>
                    <div class="active opensans-semi-bold-black-16px">Active</div>
                    <div class="scjs-sl-nl opensans-semi-bold-black-16px">scjs&nbsp;&nbsp;sl nl</div>
                    <div class="scjs-sl-nl-1 opensans-semi-bold-black-16px">scjs&nbsp;&nbsp;sl nl</div>
                    <div class="write-a-message">Write a message...</div>
                    <div class="scjs-sl-nl-2 opensans-semi-bold-black-16px">scjs&nbsp;&nbsp;sl nl</div>
                    <div class="scjs-sl-nl-3 opensans-semi-bold-black-16px">scjs&nbsp;&nbsp;sl nl</div>
                    <div class="scjs-sl-nl-4 opensans-semi-bold-black-16px">scjs&nbsp;&nbsp;sl nl</div>
                    <div class="scjs-sl-nl-5 opensans-semi-bold-black-16px">scjs&nbsp;&nbsp;sl nl</div>
                    <div class="scjs-sl-nl-6 opensans-semi-bold-black-16px">scjs&nbsp;&nbsp;sl nl</div>
                    <div class="scjs-sl-nl-7 opensans-semi-bold-black-16px">scjs&nbsp;&nbsp;sl nl</div>
                    <div class="rectangle-82"></div>
                    <div class="avatar-image-60"></div>
                    <div class="avatar-image-60-1"></div>
                    <div class="avatar-image-60-2"></div>
                    <div class="ellipse-11"></div>
                    <img class="image" src="/img/image@2x.svg" alt="image" />
                    <img class="image-1" src="/img/image-1@2x.svg" alt="image" />
                    <img class="image-2" src="/img/image-2@2x.svg" alt="image" />
                    <img class="smile" src="/img/smile@2x.svg" alt="smile" />
                    <img class="send" src="/img/send@2x.svg" alt="send" />
                    <div class="place">Send</div>
                </div>
                <div class="overlap-group">
                    <div class="in-patient opensans-extra-bold-palm-green-40px">IN-PATIENT</div>
                </div>
                <div class="avatar-image-60-3"></div>
                <div class="markus-mcgill opensans-bold-black-16px">
                    <%=Patient.UserDetails.Name %>
                </div>
                <img class="bell" src="/img/bell-14@2x.svg" alt="bell" />
                <div class="overlap-group5">
                    <div class="sidebar">
                        <div class="overlap-group1">
                            <div class="ml-care roboto-black-black-squeeze-24px">ML<br />CARE</div>
                            <a href="patient-portal-standard"><img class="home" src="/img/home@2x.svg" alt="home" /> </a>
                            <a href="patient-portal-emr"><img class="emr" src="/img/emr@2x.svg" alt="emr" /> </a>
                            <a href="patient-portal-calendar"><img class="calendar" src="/img/calendar@2x.svg" alt="calendar" /> </a>
                            <a href="patient-portal-lab-tests"><img class="lab" src="/img/lab@2x.svg" alt="lab" /> </a>
                            <a href="patient-portal-billing"><img class="bill" src="/img/bill@2x.svg" alt="bill" /> </a>
                            <div class="overlap-group-1"><img class="feedback" src="/img/feedback@2x.svg" alt="feedback" /></div>
                            <a href="patient-portal-chat-app-doc-vol"><img class="chat" src="/img/chat@2x.svg" alt="chat" /> </a>
                            <a href="patient-portal-settings"><img class="setting" src="/img/setting@2x.svg" alt="setting" />
                            </a>
                        </div>
                    </div>
                    <div class="flex-row">
                        <div class="flex-row-1">
                            <div class="flex-col">
                                <div class="ml-care-1 roboto-black-white-96px">ML CARE</div>
                                <div class="vector-container">
                                    <img class="vector" src="/img/vector-212@2x.svg" alt="Vector" />
                                    <img class="vector-1" src="/img/vector-213@2x.svg" alt="Vector" />
                                    <img class="vector-2" src="/img/vector-214@2x.svg" alt="Vector" />
                                </div>
                            </div>
                            <div class="lorem-ipsum-container inter-medium-white-24px">
                                <!-- <div class="lorem-ipsum">Lorem Ipsum</div>
                                <div class="lorem-ipsum">Lorem Ipsum</div>
                                <div class="lorem-ipsum">Lorem Ipsum</div>
                                <div class="lorem-ipsum">Lorem Ipsum</div>
                                <div class="lorem-ipsum">Lorem Ipsum</div>
                                <div class="lorem-ipsum">Lorem Ipsum</div>
                                <div class="lorem-ipsum">Lorem Ipsum</div>
                                <div class="lorem-ipsum">Lorem Ipsum</div> -->
                            </div>
                        </div>
                        <div class="lorem-ipsum-container-1 inter-medium-white-24px">
                            <!-- <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbartop">
                <div class="navbar-link-container">
                    <a href="/home-page" class="align-self-flex-start">
                        <div class="navbar-link-ml-care roboto-black-white-24px">ML CARE</div>
                    </a>
                    <a href="/about-us">
                        <div class="navbar-link-about-us opensans-bold-white-16px">ABOUT US</div>
                    </a>
                    <div class="navbar-link-products opensans-bold-white-16px">PRODUCTS</div>
                    <div class="navbar-link-services opensans-bold-white-16px">SERVICES</div>
                    <div class="navbar-link-contact-us opensans-bold-white-16px">CONTACT US</div>
                    <a href="/sign-up">
                        <div class="navbar-link-sign-uplog-in opensans-bold-white-16px">SIGN UP/LOG IN</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </body>

    </html>