<% layout('Layout/boilerplate')%>

    <input type="hidden" id="anPageName" name="page" value="patient-portal-emr" />
    <div class="container-center-horizontal">
        <div class="patient-portal-emr screen">
            <div class="navbartop">
                <div class="navbar-link-container">
                    <a href="/" class="align-self-flex-start">
                        <div class="navbar-link-ml-care roboto-black-white-24px">ML CARE</div>
                    </a>
                    <a href="/about-us">
                        <div class="navbar-link-about-us opensans-bold-white-16px">ABOUT US</div>
                    </a>
                    <div class="navbar-link-products opensans-bold-white-16px">PRODUCTS</div>
                    <div class="navbar-link-services opensans-bold-white-16px">SERVICES</div>
                    <div class="navbar-link-contact-us opensans-bold-white-16px">CONTACT US</div>
                    <a href="/sign-up">
                        <div class="navbar-link-sign-uplog-in opensans-bold-white-16px">SIGN UP/LOG IN</div>
                    </a>
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-row-1">
                    <div class="sidebar">
                        <div class="ml-care roboto-black-black-squeeze-24px">ML<br />CARE</div>

                        <a href="patient-portal-standard"><img class="home" src="/img/home@2x.svg" alt="home" /> </a>
                        <div class="overlap-group1-1"> <img class="overlap-group5-item" src="/img/emr@2x.svg" alt="emr" />
                        </div>
                        <a href="patient-portal-calendar"> <img class="calendar" src="/img/calendar@2x.svg" alt="calendar" />
                        </a>
                        <a href="patient-portal-billing"> <img class="lab" src="/img/lab-1@2x.svg" alt="lab" />
                        </a>
                        <a href="patient-portal-billing"> <img class="bill" src="/img/bill@2x.svg" alt="bill" />
                        </a>
                        <a href="patient-portal-feedback"> <img class="feedback" src="/img/feedback@2x.svg" alt="feedback" />
                        </a>
                        <a href="patient-portal-chat-app-doc-vol"> <img class="overlap-group5-item" src="/img/chat@2x.svg" alt="chat" />
                        </a>
                        <a href="patient-portal-settings"> <img class="setting" src="/img/setting@2x.svg" alt="setting" />
                        </a>
                    </div>
                    <div class="overlap-group-container-2">
                        <div class="overlap-group-1">
                            <div class="in-patient opensans-extra-bold-palm-green-40px">IN-PATIENT</div>
                        </div>
                        <div class="overlap-group7">
                            <img class="vector-1" src="/img/vector-182@2x.svg" alt="Vector" />
                            <img class="vector-2" src="/img/vector-183@2x.svg" alt="Vector" />
                            <div class="rectangle-103"></div>
                            <div class="rectangle-104"></div>
                            <div class="rectangle-113"></div>
                            <div class="rectangle-105"></div>
                            <div class="rectangle-114"></div>
                            <div class="rectangle-106"></div>
                            <div class="rectangle-115"></div>
                            <div class="rectangle-107"></div>
                            <div class="rectangle-116"></div>
                            <div class="rectangle-108"></div>
                            <div class="rectangle-117"></div>
                            <div class="rectangle-109"></div>
                            <div class="rectangle-118"></div>
                            <div class="rectangle-112"></div>
                            <div class="rectangle-119"></div>
                            <div class="rectangle-110"></div>
                            <div class="rectangle-120"></div>
                            <div class="rectangle-111"></div>
                            <div class="rectangle-121"></div>
                            <div class="visits roboto-bold-black-squeeze-24px">VISITS</div>
                            <div class="tests roboto-bold-black-squeeze-24px">TESTS</div>
                            <img class="visits-1" src="/img/visits@2x.svg" alt="visits" />
                            <img class="visits-2" src="/img/visits@2x.svg" alt="visits" />
                            <img class="visits-3" src="/img/visits@2x.svg" alt="visits" />
                            <img class="visits-4" src="/img/visits@2x.svg" alt="visits" />
                            <img class="visits-5" src="/img/visits@2x.svg" alt="visits" />
                            <img class="visits-6" src="/img/visits@2x.svg" alt="visits" />
                            <img class="visits-7" src="/img/visits@2x.svg" alt="visits" />
                            <img class="visits-8" src="/img/visits@2x.svg" alt="visits" />
                            <img class="test" src="/img/test@2x.svg" alt="test" />
                            <img class="test-1" src="/img/test@2x.svg" alt="test" />
                            <img class="test-2" src="/img/test@2x.svg" alt="test" />
                            <img class="test-3" src="/img/test@2x.svg" alt="test" />
                            <img class="test-4" src="/img/test@2x.svg" alt="test" />
                            <img class="test-5" src="/img/test@2x.svg" alt="test" />
                            <img class="test-6" src="/img/test@2x.svg" alt="test" />
                            <img class="test-7" src="/img/test@2x.svg" alt="test" />
                            <div class="date opensans-bold-metallic-seaweed-16px">11-Nov-22</div>
                            <div class="date-1 opensans-bold-metallic-seaweed-16px">11-Nov-22</div>
                            <div class="date-2 opensans-bold-metallic-seaweed-16px">11-Nov-22</div>
                            <div class="date-3 opensans-bold-metallic-seaweed-16px">11-Nov-22</div>
                            <div class="date-4 opensans-bold-metallic-seaweed-16px">11-Nov-22</div>
                            <div class="date-5 opensans-bold-metallic-seaweed-16px">11-Nov-22</div>
                            <div class="date-6 opensans-bold-metallic-seaweed-16px">11-Nov-22</div>
                            <div class="date-7 opensans-bold-metallic-seaweed-16px">11-Nov-22</div>
                            <div class="date-8 opensans-bold-metallic-seaweed-16px">11-Nov-22</div>
                            <div class="date-9 opensans-bold-metallic-seaweed-16px">11-Nov-22</div>
                            <div class="date-10 opensans-bold-metallic-seaweed-16px">11-Nov-22</div>
                            <div class="date-11 opensans-bold-metallic-seaweed-16px">11-Nov-22</div>
                            <div class="date-12 opensans-bold-metallic-seaweed-16px">11-Nov-22</div>
                            <div class="date-13 opensans-bold-metallic-seaweed-16px">11-Nov-22</div>
                            <div class="date-14 opensans-bold-metallic-seaweed-16px">11-Nov-22</div>
                            <div class="date-15 opensans-bold-metallic-seaweed-16px">11-Nov-22</div>
                            <img class="vector-3" src="/img/vector-184@2x.svg" alt="Vector" />
                            <img class="vector-4" src="/img/vector-185@2x.svg" alt="Vector" />
                            <img class="vector-5" src="/img/vector-186@2x.svg" alt="Vector" />
                            <img class="vector-6" src="/img/vector-187@2x.svg" alt="Vector" />
                            <img class="vector-7" src="/img/vector-188@2x.svg" alt="Vector" />
                            <img class="vector-8" src="/img/vector-189@2x.svg" alt="Vector" />
                            <img class="vector-9" src="/img/vector-190@2x.svg" alt="Vector" />
                            <img class="vector-10" src="/img/vector-191@2x.svg" alt="Vector" />
                            <img class="vector-11" src="/img/vector-192@2x.svg" alt="Vector" />
                            <img class="vector-12" src="/img/vector-193@2x.svg" alt="Vector" />
                            <img class="vector-13" src="/img/vector-194@2x.svg" alt="Vector" />
                            <img class="vector-14" src="/img/vector-195@2x.svg" alt="Vector" />
                            <img class="vector-15" src="/img/vector-196@2x.svg" alt="Vector" />
                            <img class="vector-16" src="/img/vector-197@2x.svg" alt="Vector" />
                            <img class="vector-17" src="/img/vector-198@2x.svg" alt="Vector" />
                            <img class="vector-18" src="/img/vector-199@2x.svg" alt="Vector" />
                        </div>
                    </div>
                </div>
                <div class="flex-col">
                    <div class="flex-row-2">
                        <div class="bmi">BMI</div>
                        <div class="x91-c">91 C</div>
                        <img class="bell" src="/img/bell-11@2x.svg" alt="bell" />
                        <div class="markus-mcgill opensans-bold-black-16px">
                            <%=Patient.UserDetails.Name %>
                        </div>
                        <div class="avatar-image-60"></div>
                    </div>
                    <div class="overlap-group4">
                        <div class="overlap-group12">
                            <div class="vitals roboto-bold-black-squeeze-24px">VITALS</div>
                        </div>
                        <div class="overlap-group-container">
                            <div class="overlap-group">
                                <div class="overlap-group-2">
                                    <img class="temperature" src="./img/temperature@2x.svg" alt="temperature" />
                                </div>
                                <div class="temperature-1 roboto-bold-black-20px">TEMPERATURE</div>
                                <div class="x91-c-1 roboto-black-west-side-32px">91 C</div>
                            </div>
                            <div class="overlap-group">
                                <div class="overlap-group2"><img class="weight" src="/img/weight@2x.svg" alt="weight" /></div>
                                <div class="weight-1 roboto-bold-black-20px">WEIGHT</div>
                                <div class="address roboto-black-west-side-32px">55 Kg</div>
                            </div>
                        </div>
                        <div class="overlap-group-container">
                            <div class="overlap-group">
                                <div class="overlap-group1-2"><img class="height" src="/img/height@2x.svg" alt="height" /></div>
                                <div class="height-1 roboto-bold-black-20px">HEIGHT</div>
                                <div class="address-1 roboto-black-west-side-32px">160 cm</div>
                            </div>
                            <div class="overlap-group10">
                                <div class="overlap-group3"><img class="water-bal" src="/img/water-bal@2x.svg" alt="water bal" /></div>
                                <div class="water-balance roboto-bold-black-20px">WATER BALANCE</div>
                                <div class="percent roboto-black-west-side-32px">42%</div>
                            </div>
                        </div>
                    </div>
                    <div class="overlap-group-container-3">
                        <div class="overlap-group14">
                            <div class="blood-pressure-mmhg roboto-bold-black-squeeze-24px">BLOOD PRESSURE (mmhg)</div>
                        </div>
                        <div class="overlap-group1">
                            <img class="line" src="/img/line-1-9@2x.svg" alt="Line 1" />
                            <img class="line-1" src="/img/line-2-9@1x.svg" alt="Line 2" />
                            <img class="vector" src="/img/vector-1-10@1x.svg" alt="Vector 1" />
                        </div>
                    </div>
                    <div class="overlap-group-container-1">
                        <div class="overlap-group17">
                            <div class="blood-glucose roboto-bold-black-squeeze-24px">BLOOD GLUCOSE</div>
                        </div>
                        <div class="overlap-group1">
                            <img class="line" src="/img/line-3-9@2x.svg" alt="Line 3" />
                            <img class="line-1" src="/img/line-4-9@1x.svg" alt="Line 4" />
                            <img class="vector" src="/img/vector-2-10@1x.svg" alt="Vector 2" />
                        </div>
                    </div>
                    <div class="overlap-group-container-1">
                        <div class="overlap-group19">
                            <div class="heart-rate roboto-bold-black-squeeze-24px">HEART RATE</div>
                        </div>
                        <div class="overlap-group1">
                            <img class="line" src="/img/line-5@2x.svg" alt="Line 5" />
                            <img class="line-1" src="/img/line-6@1x.svg" alt="Line 6" />
                            <img class="vector" src="/img/vector-3-1@1x.svg" alt="Vector 3" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="flex-row-3">
                    <div class="flex-row-4">
                        <div class="flex-col-1">
                            <div class="ml-care-1 roboto-black-white-96px">ML CARE</div>
                            <div class="vector-container">
                                <img class="vector-19" src="/img/vector-200@2x.svg" alt="Vector" />
                                <img class="vector-20" src="/img/vector-201@2x.svg" alt="Vector" />
                                <img class="vector-21" src="/img/vector-202@2x.svg" alt="Vector" />
                            </div>
                        </div>
                        <div class="lorem-ipsum-container inter-medium-white-24px">
                            <!-- <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div> -->
                        </div>
                    </div>
                    <div class="lorem-ipsum-container-1 inter-medium-white-24px">
                        <!-- <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

    </html>