<% layout('Layout/boilerplate')%>
    <input type="hidden" id="anPageName" name="page" value="patient-portal-feedback" />
    <div class="container-center-horizontal">
        <div class="patient-portal-feedback screen">
            <div class="overlap-group8">
                <div class="overlap-group">
                    <div class="in-patient opensans-extra-bold-palm-green-40px">IN-PATIENT</div>
                </div>
                <div class="avatar-image-60"></div>
                <div class="markus-mcgill opensans-bold-black-16px">
                    <%=Patient.UserDetails.Name %>
                </div>
                <img class="bell" src="/img/bell-13@2x.svg" alt="bell" />
                <div class="overlap-group5">
                    <div class="sidebar">
                        <div class="overlap-group1">
                            <div class="ml-care roboto-black-black-squeeze-24px">ML<br />CARE</div>
                            <a href="patient-portal-standard"><img class="home" src="/img/home@2x.svg" alt="home" /> </a>
                            <a href="patient-portal-emr"><img class="emr" src="/img/emr@2x.svg" alt="emr" /> </a>
                            <a href="patient-portal-calendar"><img class="calendar" src="/img/calendar@2x.svg" alt="calendar" /> </a>
                            <a href="patient-portal-lab-tests"><img class="lab" src="/img/lab@2x.svg" alt="lab" /> </a>
                            <a href="patient-portal-billing"><img class="bill" src="/img/bill@2x.svg" alt="bill" /> </a>
                            <div class="overlap-group-1"><img class="feedback" src="/img/feedback@2x.svg" alt="feedback" /></div>
                            <a href="patient-portal-chat-app-doc-vol"><img class="chat" src="/img/chat@2x.svg" alt="chat" /> </a>
                            <a href="patient-portal-settings"><img class="setting" src="/img/setting@2x.svg" alt="setting" />
                            </a>
                        </div>
                    </div>
                    <div class="flex-row">
                        <div class="flex-row-1">
                            <div class="flex-col">
                                <div class="ml-care-1 roboto-black-white-96px">ML CARE</div>
                                <!-- <div class="vector-container">
                                    <img class="vector" src="/img/vector-209@2x.svg" alt="Vector" />
                                    <img class="vector-1" src="/img/vector-210@2x.svg" alt="Vector" />
                                    <img class="vector-2" src="/img/vector-211@2x.svg" alt="Vector" />
                                </div> -->
                            </div>
                            <!-- <div class="lorem-ipsum-container inter-medium-white-24px">
                                <div class="lorem-ipsum">Lorem Ipsum</div>
                                <div class="lorem-ipsum">Lorem Ipsum</div>
                                <div class="lorem-ipsum">Lorem Ipsum</div>
                                <div class="lorem-ipsum">Lorem Ipsum</div>
                                <div class="lorem-ipsum">Lorem Ipsum</div>
                                <div class="lorem-ipsum">Lorem Ipsum</div>
                                <div class="lorem-ipsum">Lorem Ipsum</div>
                                <div class="lorem-ipsum">Lorem Ipsum</div>
                            </div> -->
                        </div>

                    </div>
                </div>
                <div class="overlap-group4">
                    <img class="pavan-772" src="/img/pavan-772@1x.png" alt="pavan 772" />
                    <form action="/Patient/<%=Patient._id%>/patient-portal-feedback" method="post">
                        <div class="flex-col-1">
                            <div class="overlap-group7">
                                <div class="feedback-form roboto-bold-black-squeeze-24px">FEEDBACK FORM</div>
                            </div>
                            <div class="need-support roboto-bold-eastern-blue-32px">Need Support?</div>

                            <p class="contact-us-if-you-ne">Contact us if you need further assistance.</p>
                            <div class="full-name opensans-bold-black-20px">Full Name</div>
                            <input type="text" name="feedback[fullname]" class="rectangle"></input>
                            <div class="flex-col-item opensans-bold-black-20px">Email</div>
                            <input type="email" name="feedback[email]" class="rectangle"></input>
                            <div class="flex-col-item opensans-bold-black-20px">Enter your feedback</div>
                            <input type="text" name="feedback[feedback]" class="rectangle-82"></input>
                            <button class="overlap-group6">
                            
                                <div class="rectangle-82-1"></div>
                        
                            <div class="submit roboto-bold-black-squeeze-24px">SUBMIT</div>
                        </button>

                        </div>
                    </form>
                </div>
            </div>
            <div class="navbartop">
                <div class="navbar-link-container">
                    <a href="/home-page" class="align-self-flex-start">
                        <div class="navbar-link-ml-care roboto-black-white-24px">ML CARE</div>
                    </a>
                    <a href="/about-us">
                        <div class="navbar-link-about-us opensans-bold-white-16px">ABOUT US</div>
                    </a>
                    <div class="navbar-link-products opensans-bold-white-16px">PRODUCTS</div>
                    <div class="navbar-link-services opensans-bold-white-16px">SERVICES</div>
                    <div class="navbar-link-contact-us opensans-bold-white-16px">CONTACT US</div>
                    <a href="/sign-up">
                        <div class="navbar-link-sign-uplog-in opensans-bold-white-16px">SIGN UP/LOG IN</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </body>

    </html>