/* screen - patient-portal-standard */

.patient-portal-standard {
  align-items: flex-start;
  background-color: var(--grey1);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 2477px;
  overflow: hidden;
  width: 1440px;
}

.patient-portal-standard .navbartop {
  align-items: flex-start;
  display: flex;
  height: 49px;
  left: 0;
  min-width: 1452px;
  position: fixed;
  top: 0;
  z-index: 3;
}

.patient-portal-standard .navbar-link-container {
  align-items: center;
  background-color: var(--blued2);
  box-shadow: 0px 8px 24px 3px #09788d6e;
  display: flex;
  height: 49px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 10px 17px;
}

.patient-portal-standard .navbar-link-ml-care {
  align-self: flex-start;
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  min-height: 28px;
  min-width: 102px;
}

.patient-portal-standard .navbar-link-about-us {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 650px;
  margin-top: 3.0px;
  min-height: 22px;
  min-width: 81px;
}

.patient-portal-standard .navbar-link-products {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 44px;
  margin-top: 3.0px;
  min-height: 22px;
  min-width: 86px;
}

.patient-portal-standard .navbar-link-services {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 45px;
  margin-top: 3.0px;
  min-height: 22px;
  min-width: 73px;
}

.patient-portal-standard .navbar-link-contact-us {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 47px;
  margin-top: 3.0px;
  min-height: 22px;
  min-width: 101px;
}

.patient-portal-standard .navbar-link-sign-uplog-in {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 46px;
  margin-top: 3.0px;
  min-height: 22px;
  min-width: 128px;
}

.patient-portal-standard .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  height: 1642px;
  margin-left: 12px;
  margin-top: 131px;
  min-width: 1391px;
  z-index: 1;
}

.patient-portal-standard .sidebar {
  align-items: center;
  background-color: var(--blued2);
  border: 1px none;
  border-radius: 10px;
  box-shadow: 0px 8px 24px #54d2e9;
  display: flex;
  flex-direction: column;
  min-height: 1492px;
  padding: 27px 0;
  width: 120px;
}

.patient-portal-standard .ml-care {
  letter-spacing: 0;
  line-height: 30px;
  min-height: 60px;
  min-width: 62px;
  text-align: center;
}

.patient-portal-standard .overlap-group1-1 {
  align-items: flex-end;
  background-color: var(--blued3);
  border-radius: 10px;
  display: flex;
  height: 51px;
  margin-top: 125px;
  min-width: 56px;
  padding: 11px;
}

.patient-portal-standard .home {
  height: 28px;
  width: 33px;
}

.patient-portal-standard .link {
  cursor: pointer;
  height: 34px;
  margin-left: 1.0px;
  margin-top: 37px;
  width: 33px;
}

.patient-portal-standard .calendar {
  cursor: pointer;
  height: 38px;
  margin-right: 1.0px;
  margin-top: 37px;
  width: 33px;
}

.patient-portal-standard .lab {
  cursor: pointer;
  height: 46px;
  margin-left: 1.0px;
  margin-top: 37px;
  width: 21px;
}

.patient-portal-standard .bill {
  cursor: pointer;
  height: 28px;
  margin-left: 1.0px;
  margin-top: 37px;
  width: 43px;
}

.patient-portal-standard .feedback {
  cursor: pointer;
  height: 28px;
  margin-left: 1.0px;
  margin-top: 37px;
  width: 33px;
}

.patient-portal-standard .setting {
  cursor: pointer;
  height: 31px;
  margin-right: 1.0px;
  margin-top: 37px;
  width: 33px;
}

.patient-portal-standard .flex-col-2 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 1636px;
  width: 1247px;
}

.patient-portal-standard .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 183px;
  min-width: 1247px;
}

.patient-portal-standard .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 77px;
  min-height: 183px;
  width: 380px;
}

.patient-portal-standard .overlap-group {
  align-items: center;
  background-color: var(--greenl4);
  border-radius: 10px;
  box-shadow: 0px 8px 24px #c0f689;
  display: flex;
  height: 84px;
  min-width: 315px;
  padding: 0 42px;
}

.patient-portal-standard .bell {
  height: 88px;
  margin-left: 595px;
  margin-top: 4px;
  width: 82px;
}

.patient-portal-standard .markus-mcgill {
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 36px;
  margin-top: 25px;
  min-height: 30px;
  min-width: 69px;
  text-align: center;
}

.patient-portal-standard .avatar-image-60 {
  background-image: url(../img/avatar---image-60-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  border-radius: 40px;
  box-shadow: 0px 8px 24px #a5dbe5;
  height: 75px;
  margin-left: 10px;
  margin-top: 2px;
  width: 75px;
}

.patient-portal-standard .overlap-group7 {
  align-items: center;
  background-color: var(--grey);
  border-radius: 10px;
  display: flex;
  height: 133px;
  margin-top: 49px;
  min-width: 1224px;
  padding: 0 18px;
}

.patient-portal-standard .overlap-group9 {
  align-items: flex-start;
  background-color: var(--blued2);
  border-radius: 10px;
  box-shadow: 0px 8px 20px #54d2e9;
  display: flex;
  height: 104px;
  margin-bottom: 1.0px;
  min-width: 197px;
  padding: 22px 18px;
}

.patient-portal-standard .rectangle-77 {
  background-color: var(--grey1);
  border: 1px none;
  border-radius: 10px;
  box-shadow: 0px 8px 20px #d0d3d4;
  height: 104px;
  margin-left: 58px;
  margin-top: 1.0px;
  width: 271px;
}

.patient-portal-standard .overlap-group-container {
  align-items: flex-start;
  display: flex;
  gap: 22px;
  margin-top: 47px;
  min-width: 1226px;
}

.patient-portal-standard .overlap-group-container-1 {
  align-items: center;
  background-color: var(--grey);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 422px;
  padding: 3px 0;
  width: 674px;
}

.patient-portal-standard .overlap-group12 {
  align-items: flex-start;
  background-color: var(--blued2);
  border-radius: 10px;
  box-shadow: 0px 8px 20px #54d2e9;
  display: flex;
  height: 56px;
  margin-top: 15px;
  min-width: 640px;
  padding: 13px 227px;
}

.patient-portal-standard .overlap-group10 {
  height: 135px;
  margin-right: 1.0px;
  margin-top: 47px;
  position: relative;
  width: 637px;
}

.patient-portal-standard .rectangle-8 {
  background-color: var(--grey1);
  border: 1px none;
  border-radius: 10px;
  box-shadow: 0px 8px 20px #9fa4a426;
  height: 121px;
  left: 0;
  position: absolute;
  top: 0;
  width: 637px;
}

.patient-portal-standard .report {
  cursor: pointer;
  height: 108px;
  left: 6px;
  position: absolute;
  top: 15px;
  width: 96px;
}

.patient-portal-standard .report-1 {
  cursor: pointer;
  height: 108px;
  left: 294px;
  position: absolute;
  top: 16px;
  width: 96px;
}

.patient-portal-standard .report-2 {
  cursor: pointer;
  height: 108px;
  left: 102px;
  position: absolute;
  top: 14px;
  width: 96px;
}

.patient-portal-standard .report-3 {
  cursor: pointer;
  height: 108px;
  left: 390px;
  position: absolute;
  top: 15px;
  width: 96px;
}

.patient-portal-standard .report-4 {
  cursor: pointer;
  height: 108px;
  left: 198px;
  position: absolute;
  top: 14px;
  width: 96px;
}

.patient-portal-standard .report-5 {
  cursor: pointer;
  height: 108px;
  left: 486px;
  position: absolute;
  top: 15px;
  width: 96px;
}

.patient-portal-standard .vector-2 {
  cursor: pointer;
  height: 60px;
  left: 574px;
  position: absolute;
  top: 75px;
  width: 60px;
}

.patient-portal-standard .overlap-group11 {
  height: 136px;
  margin-right: 1.0px;
  margin-top: 27px;
  position: relative;
  width: 637px;
}

.patient-portal-standard .vector-3 {
  cursor: pointer;
  height: 60px;
  left: 574px;
  position: absolute;
  top: 76px;
  width: 60px;
}

.patient-portal-standard .vector-4 {
  height: 108px;
  left: 6px;
  position: absolute;
  top: 15px;
  width: 107px;
}

.patient-portal-standard .address {
  left: 147px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 46px;
  white-space: nowrap;
}

.patient-portal-standard .overlap-group4 {
  height: 429px;
  position: relative;
  width: 530px;
}

.patient-portal-standard .rectangle-80 {
  background-color: var(--grey);
  border: 1px none;
  border-radius: 10px;
  height: 422px;
  left: 0;
  position: absolute;
  top: 0;
  width: 527px;
}

.patient-portal-standard .rectangle-84 {
  background-color: var(--blued2);
  border: 1px none;
  border-radius: 10px;
  box-shadow: 0px 8px 20px #54d2e9;
  height: 56px;
  left: 20px;
  position: absolute;
  top: 18px;
  width: 487px;
}

.patient-portal-standard .calendar-1 {
  left: 202px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
}

.patient-portal-standard .november-2022 {
  left: 184px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 102px;
  white-space: nowrap;
}

.patient-portal-standard .vector-5 {
  cursor: pointer;
  height: 20px;
  left: 147px;
  position: absolute;
  top: 107px;
  width: 20px;
}

.patient-portal-standard .vector-6 {
  cursor: pointer;
  height: 20px;
  left: 359px;
  position: absolute;
  top: 107px;
  width: 20px;
}

.patient-portal-standard .calendar-2 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 41px;
  height: 187px;
  left: 14px;
  overflow: hidden;
  position: absolute;
  top: 171px;
  width: 500px;
}

.patient-portal-standard .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-top: 2px;
  min-height: 171px;
  width: 48px;
}

.patient-portal-standard .cal-pill {
  align-items: flex-end;
  background-color: var(--grey1);
  border-radius: 30px;
  box-shadow: 0px 15px 24px #00000026;
  cursor: pointer;
  display: flex;
  height: 105px;
  min-width: 48px;
  padding: 7px 6px;
}

.patient-portal-standard .flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 28px;
  min-height: 173px;
  width: 48px;
}

.patient-portal-standard .cal-pill-1 {
  align-items: flex-start;
  background-color: var(--greenl4);
  border-radius: 30px;
  box-shadow: 0px 8px 24px #a0ee519e;
  cursor: pointer;
  display: flex;
  height: 105px;
  min-width: 48px;
  padding: 6px;
}

.patient-portal-standard .flex-col-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: -1px;
  min-height: 174px;
  width: 48px;
}

.patient-portal-standard .flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 4px;
  min-height: 169px;
  width: 48px;
}

.patient-portal-standard .vector-7 {
  cursor: pointer;
  height: 60px;
  left: 470px;
  position: absolute;
  top: 369px;
  width: 60px;
}

.patient-portal-standard .overlap-group8 {
  background-color: var(--grey);
  border-radius: 10px;
  height: 102px;
  margin-top: 41px;
  position: relative;
  width: 1224px;
}

.patient-portal-standard .rectangle-97 {
  background-color: var(--greenl2);
  border: 1px none;
  border-radius: 10px;
  box-shadow: 0px 8px 20px #a0ee518c;
  cursor: pointer;
  height: 56px;
  left: 21px;
  position: absolute;
  top: 23px;
  width: 1185px;
}

.patient-portal-standard .take-the-mental-health-quiz {
  left: 422px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 36px;
  white-space: nowrap;
}

.patient-portal-standard .overlap-group6 {
  align-items: flex-start;
  background-color: var(--grey);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 52px;
  margin-top: 52px;
  min-height: 600px;
  padding: 18px;
  width: 1224px;
}

.patient-portal-standard .overlap-group17 {
  align-items: flex-start;
  background-color: var(--blued2);
  border-radius: 10px;
  box-shadow: 0px 8px 20px #54d2e9;
  display: flex;
  height: 56px;
  min-width: 1185px;
  padding: 13px 552px;
}

.patient-portal-standard .flex-row-2 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 70px;
  height: 435px;
  margin-right: 1.0px;
  min-width: 1185px;
}

.patient-portal-standard .overlap-group-container-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 52px;
  min-height: 435px;
  width: 557px;
}

.patient-portal-standard .overlap-group1 {
  align-items: center;
  background-color: var(--grey1);
  border-radius: 10px;
  box-shadow: 0px 8px 20px #9fa4a426;
  display: flex;
  height: 61px;
  min-width: 557px;
  padding: 11px 17px;
}

.patient-portal-standard .overlap-group-1 {
  align-items: center;
  align-self: flex-end;
  background: linear-gradient(180deg, rgb(250, 153, 14) 0%, rgb(252.88, 238.15, 217.05) 100%);
  border-radius: 10px;
  box-shadow: 0px 4px 24px #fbc880;
  display: flex;
  height: 38px;
  min-width: 39px;
  padding: 0 13px;
}

.patient-portal-standard .vector {
  height: 24px;
  width: 12px;
}

.patient-portal-standard .temperature {
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: 1.0px;
  margin-left: 20px;
  min-width: 140px;
  text-align: center;
  white-space: nowrap;
}

.patient-portal-standard .x91-c {
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: 1.0px;
  margin-left: 210px;
  min-width: 67px;
  text-align: center;
  white-space: nowrap;
}

.patient-portal-standard .vector-8 {
  cursor: pointer;
  height: 18px;
  margin-bottom: 1.0px;
  margin-left: 27px;
  width: 18px;
}

.patient-portal-standard .overlap-group16 {
  align-items: flex-start;
  background-color: var(--grey1);
  border-radius: 10px;
  box-shadow: 0px 8px 20px #9fa4a426;
  display: flex;
  height: 322px;
  min-width: 557px;
  padding: 17px;
}

.patient-portal-standard .overlap-group2 {
  align-items: flex-end;
  background: linear-gradient(180deg, rgb(250, 153, 14) 0%, rgb(252.88, 238.15, 217.05) 100%);
  border-radius: 10px;
  box-shadow: 0px 4px 24px #fbc880;
  display: flex;
  height: 38px;
  min-width: 39px;
  padding: 10.2px 11px;
}

.patient-portal-standard .vector-9 {
  height: 17px;
  width: 16px;
}

.patient-portal-standard .flex-col-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-top: 4px;
  min-height: 267px;
  width: 458px;
}

.patient-portal-standard .blood-pressure {
  letter-spacing: 0;
  line-height: 28px;
  margin-left: 20px;
  min-width: 168px;
  text-align: center;
  white-space: nowrap;
}

.patient-portal-standard .overlap-group1-2 {
  height: 218px;
  position: relative;
  width: 458px;
}

.patient-portal-standard .line {
  height: 218px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 1px;
}

.patient-portal-standard .line-1 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 194px;
  width: 458px;
}

.patient-portal-standard .vector-1 {
  height: 140px;
  left: 20px;
  position: absolute;
  top: 54px;
  width: 426px;
}

.patient-portal-standard .vector-10 {
  cursor: pointer;
  height: 18px;
  margin-left: 6px;
  margin-top: 4px;
  width: 18px;
}

.patient-portal-standard .overlap-group-container-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 52px;
  min-height: 435px;
  width: 558px;
}

.patient-portal-standard .overlap-group10-1 {
  align-items: center;
  align-self: flex-end;
  background: linear-gradient(180deg, rgb(250, 153, 14) 0%, rgb(252.88, 238.15, 217.05) 100%);
  border-radius: 10px;
  box-shadow: 0px 4px 24px #fbc880;
  display: flex;
  height: 38px;
  justify-content: flex-end;
  min-width: 39px;
  padding: 0 13px;
}

.patient-portal-standard .pulse-rate {
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: 1.0px;
  margin-left: 33px;
  min-width: 115px;
  text-align: center;
  white-space: nowrap;
}

.patient-portal-standard .x91-c-1 {
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: 1.0px;
  margin-left: 222px;
  min-width: 67px;
  text-align: center;
  white-space: nowrap;
}

.patient-portal-standard .vector-11 {
  cursor: pointer;
  height: 18px;
  margin-left: 22px;
  margin-top: 1.0px;
  width: 18px;
}

.patient-portal-standard .overlap-group15 {
  align-items: flex-start;
  background-color: var(--grey1);
  border-radius: 10px;
  box-shadow: 0px 8px 20px #9fa4a426;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 1px;
  min-height: 322px;
  padding: 17px;
  width: 557px;
}

.patient-portal-standard .flex-row-3 {
  align-items: center;
  display: flex;
  min-width: 515px;
}

.patient-portal-standard .overlap-group9-1 {
  align-items: center;
  background: linear-gradient(180deg, rgb(250, 153, 14) 0%, rgb(252.88, 238.15, 217.05) 100%);
  border-radius: 10px;
  box-shadow: 0px 4px 24px #fbc880;
  display: flex;
  height: 38px;
  justify-content: flex-end;
  min-width: 39px;
  padding: 0 9px;
}

.patient-portal-standard .vector-12 {
  height: 20px;
  width: 18px;
}

.patient-portal-standard .sugar {
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: 2.0px;
  margin-left: 20px;
  min-width: 66px;
  text-align: center;
  white-space: nowrap;
}

.patient-portal-standard .vector-13 {
  cursor: pointer;
  height: 18px;
  margin-left: 372px;
  margin-top: 2.0px;
  width: 18px;
}

.patient-portal-standard .overlap-group3 {
  align-self: center;
  height: 218px;
  margin-left: 13.0px;
  position: relative;
  width: 458px;
}

.patient-portal-standard .footer {
  align-items: flex-start;
  display: flex;
  margin-top: 97px;
  min-width: 1474px;
  z-index: 2;
}

.patient-portal-standard .flex-row-4 {
  align-items: flex-start;
  background-color: var(--blued2);
  display: flex;
  gap: 88px;
  height: 607px;
  min-width: 1440px;
  padding: 105px 138px;
}

.patient-portal-standard .flex-row-5 {
  align-items: flex-start;
  display: flex;
  gap: 298px;
  height: 373px;
  min-width: 852px;
}

.patient-portal-standard .flex-col-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 199px;
  width: 405px;
}

.patient-portal-standard .vector-container {
  align-items: flex-end;
  display: flex;
  margin-left: 7px;
  min-width: 253px;
}

.patient-portal-standard .vector-14 {
  height: 50px;
  width: 49px;
}

.patient-portal-standard .vector-15 {
  height: 56px;
  margin-left: 43px;
  width: 56px;
}

.patient-portal-standard .vector-16 {
  height: 52px;
  margin-left: 41px;
  width: 64px;
}

.patient-portal-standard .lorem-ipsum-container {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-height: 330px;
  width: 149px;
}
