/* screen - patient-portal-billing */

.patient-portal-billing {
  align-items: flex-start;
  background-color: var(--grey1);
  border: 1px none;
  display: flex;
  height: 2071px;
  overflow: hidden;
  width: 1440px;
}

.patient-portal-billing .overlap-group5 {
  height: 1940px;
  margin-top: 131px;
  position: relative;
  width: 1474px;
  z-index: 1;
}

.patient-portal-billing .overlap-group {
  align-items: center;
  background-color: var(--greenl4);
  border-radius: 10px;
  box-shadow: 0px 8px 24px #c0f689;
  display: flex;
  height: 84px;
  left: 156px;
  min-width: 315px;
  padding: 0 42px;
  position: absolute;
  top: 6px;
}

.patient-portal-billing .avatar-image-60 {
  background-image: url(../img/avatar---image-60-12@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  border-radius: 40px;
  box-shadow: 0px 8px 24px #a5dbe5;
  height: 75px;
  left: 1328px;
  position: absolute;
  top: 8px;
  width: 75px;
}

.patient-portal-billing .markus-mcgill {
  left: 1249px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 31px;
}

.patient-portal-billing .bell {
  height: 88px;
  left: 1131px;
  position: absolute;
  top: 10px;
  width: 82px;
}

.patient-portal-billing .overlap-group4 {
  height: 1940px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1474px;
}

.patient-portal-billing .sidebar {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 1492px;
  left: 12px;
  min-width: 120px;
  position: absolute;
  top: 0;
}

.patient-portal-billing .overlap-group1 {
  align-items: center;
  background-color: var(--blued2);
  border-radius: 10px;
  box-shadow: 0px 8px 24px #54d2e9;
  display: flex;
  flex-direction: column;
  min-height: 1219px;
  padding: 27px 0;
  width: 120px;
}

.patient-portal-billing .ml-care {
  letter-spacing: 0;
  line-height: 30px;
  min-height: 60px;
  min-width: 62px;
  text-align: center;
}

.patient-portal-billing .home {
  cursor: pointer;
  height: 28px;
  margin-right: 1.0px;
  margin-top: 137px;
  width: 33px;
}

.patient-portal-billing .emr {
  cursor: pointer;
  height: 34px;
  margin-left: 1.0px;
  margin-top: 48px;
  width: 33px;
}

.patient-portal-billing .calendar {
  cursor: pointer;
  height: 38px;
  margin-right: 1.0px;
  margin-top: 37px;
  width: 33px;
}

.patient-portal-billing .lab {
  cursor: pointer;
  height: 46px;
  margin-left: 1.0px;
  margin-top: 37px;
  width: 21px;
}

.patient-portal-billing .overlap-group-1 {
  align-items: flex-end;
  background-color: var(--blued3);
  border-radius: 10px;
  display: flex;
  height: 44px;
  justify-content: flex-end;
  margin-top: 27px;
  min-width: 56px;
  padding: 6px;
}

.patient-portal-billing .bill {
  height: 28px;
  width: 43px;
}

.patient-portal-billing .feedback {
  cursor: pointer;
  height: 28px;
  margin-left: 1.0px;
  margin-top: 31px;
  width: 33px;
}

.patient-portal-billing .chat {
  cursor: pointer;
  height: 34px;
  margin-left: 1.0px;
  margin-top: 37px;
  width: 33px;
}

.patient-portal-billing .setting {
  cursor: pointer;
  height: 31px;
  margin-right: 1.0px;
  margin-top: 37px;
  width: 33px;
}

.patient-portal-billing .flex-row {
  align-items: flex-start;
  background-color: var(--blued2);
  display: flex;
  gap: 88px;
  height: 607px;
  left: 0;
  min-width: 1440px;
  padding: 105px 138px;
  position: absolute;
  top: 1333px;
}

.patient-portal-billing .flex-row-1 {
  align-items: flex-start;
  display: flex;
  gap: 298px;
  height: 373px;
  min-width: 852px;
}

.patient-portal-billing .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 199px;
  width: 405px;
}

.patient-portal-billing .vector-container {
  align-items: flex-end;
  display: flex;
  margin-left: 7px;
  min-width: 253px;
}

.patient-portal-billing .vector {
  height: 50px;
  width: 49px;
}

.patient-portal-billing .vector-1 {
  height: 56px;
  margin-left: 43px;
  width: 56px;
}

.patient-portal-billing .vector-2 {
  height: 52px;
  margin-left: 41px;
  width: 64px;
}

.patient-portal-billing .lorem-ipsum-container {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-height: 330px;
  width: 149px;
}

.patient-portal-billing .under-construction {
  height: 363px;
  left: 524px;
  position: absolute;
  top: 227px;
  width: 391px;
}

.patient-portal-billing .surname {
  left: 278px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 678px;
  white-space: nowrap;
}

.patient-portal-billing .navbartop {
  align-items: flex-start;
  display: flex;
  height: 49px;
  left: 0;
  min-width: 1452px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.patient-portal-billing .navbar-link-container {
  align-items: center;
  background-color: var(--blued2);
  box-shadow: 0px 8px 24px 3px #09788d6e;
  display: flex;
  height: 49px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 10px 17px;
}

.patient-portal-billing .navbar-link-ml-care {
  align-self: flex-start;
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  min-height: 28px;
  min-width: 102px;
}

.patient-portal-billing .navbar-link-about-us {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 650px;
  margin-top: 3.0px;
  min-height: 22px;
  min-width: 81px;
}

.patient-portal-billing .navbar-link-products {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 44px;
  margin-top: 3.0px;
  min-height: 22px;
  min-width: 86px;
}

.patient-portal-billing .navbar-link-services {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 45px;
  margin-top: 3.0px;
  min-height: 22px;
  min-width: 73px;
}

.patient-portal-billing .navbar-link-contact-us {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 47px;
  margin-top: 3.0px;
  min-height: 22px;
  min-width: 101px;
}

.patient-portal-billing .navbar-link-sign-uplog-in {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 46px;
  margin-top: 3.0px;
  min-height: 22px;
  min-width: 128px;
}
