<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/about-us.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
</head>

<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="about-us" />
    <div class="container-center-horizontal">
        <div class="about-us screen">
            <div class="flex-col">
                <p class="meet-the-team">MEET&nbsp;&nbsp;THE&nbsp;&nbsp;TEAM</p>
                <div class="overlap-group-container">
                    <div class="overlap-group1">
                        <img class="ellipse-9" src="img/ellipse-9-6@2x.png" alt="Ellipse 9" />
                        <div class="flex-row">
                            <div class="place">Name</div>
                            <img class="vector" src="img/vector-346@2x.svg" alt="Vector" />
                        </div>
                    </div>
                    <div class="overlap-group2">
                        <img class="ellipse-9" src="img/ellipse-9-7@2x.png" alt="Ellipse 9" />
                        <div class="flex-row">
                            <div class="place-1">Name</div>
                            <img class="vector" src="img/vector-347@2x.svg" alt="Vector" />
                        </div>
                    </div>
                    <div class="overlap-group3">
                        <div class="member-1">
                            <img class="ellipse-9" src="img/ellipse-9-8@2x.png" alt="Ellipse 9" />
                            <img class="vector-1" src="img/vector-348@2x.svg" alt="Vector" />
                        </div>
                        <div class="place-2">Name</div>
                    </div>
                </div>
                <div class="flex-row-1">
                    <div class="flex-row-2">
                        <div class="flex-col-1">
                            <div class="ml-care roboto-black-white-96px">ML CARE</div>
                            <div class="vector-container">
                                <img class="vector-2" src="img/vector-343@2x.svg" alt="Vector" />
                                <img class="vector-3" src="img/vector-344@2x.svg" alt="Vector" />
                                <img class="vector-4" src="img/vector-345@2x.svg" alt="Vector" />
                            </div>
                        </div>
                        <div class="lorem-ipsum-container inter-medium-white-24px">
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                        </div>
                    </div>
                    <div class="lorem-ipsum-container-1 inter-medium-white-24px">
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                    </div>
                </div>
            </div>
            <div class="flex-col-2">
                <div class="navbar-link-container">
                    <a href="home-page" class="align-self-flex-start">
                        <div class="navbar-link-ml-care roboto-black-white-24px">ML CARE</div>
                    </a>
                    <div class="navbar-link-about-us opensans-bold-white-16px">ABOUT US</div>
                    <div class="navbar-link-products opensans-bold-white-16px">PRODUCTS</div>
                    <div class="navbar-link-services opensans-bold-white-16px">SERVICES</div>
                    <div class="navbar-link-contact-us opensans-bold-white-16px">CONTACT US</div>
                    <a href="sign-up">
                        <div class="navbar-link-sign-uplog-in opensans-bold-white-16px">SIGN UP/LOG IN</div>
                    </a>
                </div>
                <div class="about-us-1 roboto-black-metallic-seaweed-64px">ABOUT US</div>
            </div>
            <div class="flex-col-3">
                <div class="rectangle-161"></div>
                <div class="our-goals">Our Goals</div>
            </div>
            <div class="flex-col-4">
                <div class="rectangle-163"></div>
                <div class="our-process">Our Process</div>
            </div>
            <div class="rectangle-162"></div>
            <div class="flex-col-5">
                <div class="our-vision">Our Vision</div>
                <p class="lorem-ipsum-dolor-si opensans-semi-bold-black-24px">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />Cras finibus orci arcu, sed laoreet neque consequat eget. <br />Vestibulum ex sem, scelerisque vel tellus id, tempus sagittis <br />dui. Maecenas facilisis libero imperdiet
                    posuere tempor. <br />Donec at orci vestibulum, porta elit nec,
                </p>
            </div>
            <p class="lorem-ipsum-dolor-si-1 opensans-semi-bold-black-24px">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />Cras finibus orci arcu, sed laoreet neque consequat eget. <br />Vestibulum ex sem, scelerisque vel tellus id, tempus sagittis <br />dui. Maecenas facilisis libero imperdiet
                posuere tempor. <br />Donec at orci vestibulum, porta elit nec,
            </p>
            <p class="lorem-ipsum-dolor-si-2 opensans-semi-bold-black-24px">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />Cras finibus orci arcu, sed laoreet neque consequat eget. <br />Vestibulum ex sem, scelerisque vel tellus id, tempus sagittis <br />dui. Maecenas facilisis libero imperdiet
                posuere tempor. <br />Donec at orci vestibulum, porta elit nec,
            </p>
        </div>
    </div>
</body>

</html>