<% layout('Layout/boilerplate')%>
    <input type="hidden" id="anPageName" name="page" value="log-in" />
    <div class="container-center-horizontal">
        <div class="log-in screen">
            <div class="navbartop">
                <div class="navbar-link-container">
                    <a href="home-page" class="align-self-flex-start">
                        <div class="navbar-link-ml-care roboto-black-white-24px">ML CARE</div>
                    </a>
                    <a href="about-us">
                        <div class="navbar-link-about-us opensans-bold-white-16px">ABOUT US</div>
                    </a>
                    <div class="navbar-link-products opensans-bold-white-16px">PRODUCTS</div>
                    <div class="navbar-link-services opensans-bold-white-16px">SERVICES</div>
                    <div class="navbar-link-contact-us opensans-bold-white-16px">CONTACT US</div>
                    <a href="sign-up">
                        <div class="navbar-link-sign-up opensans-bold-white-16px">SIGN UP</div>
                    </a>
                </div>
            </div>

            <div class="log-in-1 roboto-black-metallic-seaweed-64px">LOG IN</div>
            <form action="/log-in" method="post">
                <div class="username roboto-bold-scooter-32px">USERNAME</div>
                <input class="rectangle-5" type="text" name="Signin[username]"></input>
                <div class="password roboto-bold-scooter-32px">PASSWORD</div>
                <input class="rectangle-12" type="password" name="Signin[password]"></input>
                <button class="overlap-group2" type="submit">
                 
                <div class="log-in-2 roboto-bold-black-squeeze-32px">LOG IN</div>
            </button></form>
            <div class="footer">
                <div class="flex-row">
                    <div class="flex-row-1">
                        <div class="flex-col">
                            <div class="ml-care roboto-black-white-96px">ML CARE</div>
                            <div class="vector-container">
                                <img class="vector" src="//img/vector-355@2x.svg" alt="Vector" />
                                <img class="vector-1" src="//img/vector-356@2x.svg" alt="Vector" />
                                <img class="vector-2" src="//img/vector-357@2x.svg" alt="Vector" />
                            </div>
                        </div>
                        <div class="lorem-ipsum-container inter-medium-white-24px">
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                        </div>
                    </div>
                    <div class="lorem-ipsum-container-1 inter-medium-white-24px">
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

    </html>