<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/add-doctor.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
</head>

<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="add-doctor" />
    <div class="container-center-horizontal">
        <div class="add-doctor screen">
            <div class="navbartop">
                <div class="navbar-link-container">
                    <a href="home-page" class="align-self-flex-start">
                        <div class="navbar-link-ml-care roboto-black-white-24px">ML CARE</div>
                    </a>
                    <a href="about-us">
                        <div class="navbar-link-about-us opensans-bold-white-16px">ABOUT US</div>
                    </a>
                    <div class="navbar-link-products opensans-bold-white-16px">PRODUCTS</div>
                    <div class="navbar-link-services opensans-bold-white-16px">SERVICES</div>
                    <div class="navbar-link-contact-us opensans-bold-white-16px">CONTACT US</div>
                    <a href="sign-up">
                        <div class="navbar-link-sign-uplog-in opensans-bold-white-16px">SIGN UP/LOG IN</div>
                    </a>
                </div>
            </div>
            <form action="">
                <div class="flex-row">
                    <div class="sign-up-as roboto-black-metallic-seaweed-64px">SIGN UP AS</div>
                    <div class="doctor">DOCTOR</div>
                </div>
                <div class="qualification roboto-bold-scooter-32px">QUALIFICATION</div>
                <input class="rectangle-5"></input>
                <div class="department roboto-bold-scooter-32px">DEPARTMENT</div>
                <input class="rectangle-12"></input>
                <div class="experience roboto-bold-scooter-32px">EXPERIENCE</div>
                <input class="rectangle-165"></input>
                <div class="place roboto-bold-scooter-32px">DOMAIN</div>
                <input class="rectangle-166"></input>
                <div class="brief-about-doctor roboto-bold-scooter-32px">BRIEF ABOUT DOCTOR</div>
                <input class="rectangle-167"></input>
                <div class="overlap-group2">
                    <a href="doctor-portal-standard">
                        <div class="rectangle-164"></div>
                    </a>
                    <button class="sign-up roboto-bold-black-squeeze-32px">SIGN UP</button>
                </div>
            </form>
            <div class="footer">
                <div class="flex-row-1">
                    <div class="flex-row-2">
                        <div class="flex-col">
                            <div class="ml-care roboto-black-white-96px">ML CARE</div>
                            <div class="vector-container">
                                <img class="vector" src="img/vector-349@2x.svg" alt="Vector" />
                                <img class="vector-1" src="img/vector-350@2x.svg" alt="Vector" />
                                <img class="vector-2" src="img/vector-351@2x.svg" alt="Vector" />
                            </div>
                        </div>
                        <div class="lorem-ipsum-container inter-medium-white-24px">
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                        </div>
                    </div>
                    <div class="lorem-ipsum-container-1 inter-medium-white-24px">
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>