<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" type="text/css" href="css/home-page-w.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
</head>

<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="home-page-w" />
    <div class="container-center-horizontal">
        <div class="home-page-w screen">
            <div class="overlap-group1">
                <div class="navbar-link-container">
                    <div class="navbar-link-logo">LOGO</div>
                    <div class="navbar-link-about-us inter-medium-black-16px">ABOUT US</div>
                    <div class="navbar-link-products inter-medium-black-16px">PRODUCTS</div>
                    <div class="navbar-link-services inter-medium-black-16px">SERVICES</div>
                    <div class="navbar-link-contact-us inter-medium-black-16px">CONTACT US</div>
                    <div class="navbar-link-sign-uplog-in inter-medium-black-16px">SIGN UP/LOG IN</div>
                </div>
                <div class="heading inter-black-black-64px">HEADING</div>
                <p class="lorem-ipsum-dolor-si inter-medium-black-32px">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <div class="overlap-group15">
                    <div class="know-more">KNOW MORE</div>
                </div>
            </div>
            <div class="flex-row">
                <div class="overlap-group9">
                    <div class="main-feature inter-black-black-64px">MAIN<br />FEATURE</div>
                    <div class="overlap-group16">
                        <div class="explore inter-bold-white-32px">EXPLORE</div>
                        <img class="vector-2" src="/img/vector-10@2x.svg" alt="Vector" />
                    </div>
                </div>
                <div class="flex-col">
                    <div class="overlap-group-container">
                        <div class="overlap-group">
                            <div class="cardiology inter-black-black-32px">Cardiology</div>
                        </div>
                        <div class="overlap-group">
                            <div class="cardiology inter-black-black-32px">Cardiology</div>
                        </div>
                        <div class="overlap-group">
                            <div class="cardiology inter-black-black-32px">Cardiology</div>
                        </div>
                    </div>
                    <div class="overlap-group-container">
                        <div class="overlap-group-1">
                            <div class="cardiology inter-black-black-32px">Cardiology</div>
                        </div>
                        <div class="overlap-group-1">
                            <div class="cardiology inter-black-black-32px">Cardiology</div>
                        </div>
                        <div class="overlap-group-1">
                            <div class="cardiology inter-black-black-32px">Cardiology</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-col-1">
                <div class="flex-col-2">
                    <div class="about-us inter-black-black-64px">ABOUT US</div>
                    <div class="rectangle-15"></div>
                    <p class="lorem-ipsum-dolor-si-1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut condimentum euismod felis, laoreet tempor ex lobortis quis. Aenean placerat ultrices lacus, ac consequat nisi facilisis pharetra. Maecenas scelerisque vitae dui lacinia ultricies. Suspendisse
                        sit amet ex tincidunt, ornare nisl vel, tempor velit. Sed laoreet odio vel dui tincidunt iaculis.
                    </p>
                    <div class="overlap-group11">
                        <div class="learn-more inter-bold-white-32px">LEARN MORE</div>
                    </div>
                    <div class="our-specializations inter-black-black-64px">OUR SPECIALIZATIONS</div>
                </div>
                <div class="overlap-group-container-1">
                    <div class="overlap-group3">
                        <div class="percent inter-black-black-64px">80%</div>
                    </div>
                    <div class="overlap-group8">
                        <img class="subtract" src="/img/subtract-1@2x.svg" alt="Subtract" />
                        <div class="percent-1 inter-black-black-64px">51%</div>
                    </div>
                    <div class="overlap-group13">
                        <div class="percent-2 inter-black-black-64px">63%</div>
                    </div>
                </div>
                <div class="mental-health-container inter-medium-black-32px">
                    <div class="mental-health">Mental Health</div>
                    <div class="mental-health-1">Mental Health</div>
                    <div class="mental-health-2">Mental Health</div>
                </div>
                <div class="our-experienced-doctors inter-black-black-64px">OUR EXPERIENCED DOCTORS</div>
                <div class="frame-1">
                    <div class="doc-card">
                        <img class="union" src="/img/union-1@2x.svg" alt="Union" />
                        <img class="vector" src="/img/vector-14@2x.svg" alt="Vector" />
                    </div>
                    <div class="doc-card">
                        <img class="union" src="/img/union-2@2x.svg" alt="Union" />
                        <img class="vector" src="/img/vector-15@2x.svg" alt="Vector" />
                    </div>
                    <div class="doc-card">
                        <img class="union" src="/img/union-3@2x.svg" alt="Union" />
                        <img class="vector" src="/img/vector-16@2x.svg" alt="Vector" />
                    </div>
                    <div class="doc-card-2">
                        <img class="union-2" src="/img/union-4@2x.svg" alt="Union" />
                        <img class="vector-1" src="/img/vector@2x.png" alt="Vector" />
                    </div>
                    <div class="doc-card-1">
                        <img class="union-1" src="/img/union@2x.png" alt="Union" />
                        <img class="vector-1" src="/img/vector-1@2x.png" alt="Vector" />
                    </div>
                    <div class="doc-card-1">
                        <img class="union-1" src="/img/union-1@2x.png" alt="Union" />
                        <img class="vector-1" src="/img/vector-2@2x.png" alt="Vector" />
                    </div>
                </div>
                <div class="overlap-group5">
                    <div class="meet-all inter-bold-white-32px">MEET ALL</div>
                </div>
                <div class="flex-row-1">
                    <div class="flex-row-2">
                        <div class="flex-col-3">
                            <div class="logo">LOGO</div>
                            <div class="vector-container">
                                <img class="vector-3" src="/img/vector-11@2x.svg" alt="Vector" />
                                <img class="vector-4" src="/img/vector-12@2x.svg" alt="Vector" />
                                <img class="vector-5" src="/img/vector-13@2x.svg" alt="Vector" />
                            </div>
                        </div>
                        <div class="lorem-ipsum-container inter-medium-white-24px">
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                        </div>
                    </div>
                    <div class="lorem-ipsum-container inter-medium-white-24px">
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>