<% layout('Layout/boilerplate')%>
    <input type="hidden" id="anPageName" name="page" value="home-page" />
    <div class="container-center-horizontal">
        <div class="home-page screen">
            <div class="flex-col">
                <div class="overlap-group11">
                    <div class="overlap-group7">
                        <img class="union" src="/img/union-8@1x.svg" alt="Union" />
                        <div class="heading">D.A.V.</div>
                        <p class="lorem-ipsum-dolor-si">"Saving & Enriching Lives"</p>
                        <div class="rectangle-6"></div>
                        <div class="know-more roboto-bold-white-32px">KNOW MORE</div>
                    </div>
                    <div class="navbar-link-container">
                        <div class="navbar-link-ml-care roboto-black-white-24px">ML CARE</div>
                        <a href="about-us">
                            <div class="navbar-link-about-us opensans-bold-white-16px">ABOUT US</div>
                        </a>
                        <div class="navbar-link-products opensans-bold-white-16px">PRODUCTS</div>
                        <div class="navbar-link-services opensans-bold-white-16px">SERVICES</div>
                        <div class="navbar-link-contact-us opensans-bold-white-16px">CONTACT US</div>
                        <% if(!currentUser) {%>
                            <a href="sign-up">
                                <div class="navbar-link-sign-uplog-in opensans-bold-white-16px">SIGN UP/LOG IN</div>
                            </a>
                            <% } %>
                    </div>
                </div>
                <div class="overlap-group-container">
                    <div class="overlap-group2">
                        <img class="rectangle-18" src="/img/rectangle-18@2x.svg" alt="Rectangle 18" />
                        <div class="rectangle-19"></div>
                        <div class="main-feature">MAIN<br />FEATURE</div>
                        <div class="rectangle-14"></div>
                        <div class="explore inter-bold-white-32px">EXPLORE</div>
                        <img class="vector-2" src="/img/vector-57@2x.svg" alt="Vector" />
                    </div>
                    <div class="overlap-group3">
                        <img class="rectangle" src="/img/rectangle-8@2x.svg" alt="Rectangle 8" />
                        <div class="rectangle-99"></div>
                        <div class="mental-health">Mental Health</div>
                    </div>
                    <div class="overlap-group10">
                        <img class="rectangle" src="/img/rectangle-100@2x.svg" alt="Rectangle 100" />
                        <div class="rectangle-101"></div>
                        <div class="women-health">Women Health</div>
                    </div>
                </div>
                <div class="about-us roboto-black-eastern-blue-64px">ABOUT US</div>
                <img class="rectangle-15" src="/img/rectangle-15@1x.svg" alt="Rectangle 15" />
                <p class="lorem-ipsum-dolor-si-1">
                    our vision is to be the most well regarded healthcare provider in India committed to the highest standards of clinical excellence and patient care, supported by latest technology and cutting edge research. We ask more of ourselves, so we can give more
                    to our patients. We push the boundaries of excellence in everything we do, so we can deliver the highest standards in patient-centred care.
                </p>
                <div class="overlap-group6">
                    <a href="about-us">
                        <div class="rectangle-16"></div>
                    </a>
                    <div class="learn-more roboto-bold-white-32px">LEARN MORE</div>
                </div>
                <div class="our-specializations roboto-black-eastern-blue-64px">OUR SPECIALIZATIONS</div>
            </div>
            <div class="overlap-group-container-1">
                <div class="overlap-group5">
                    <div class="percent">80%</div>
                </div>
                <div class="overlap-group9">
                    <img class="subtract" src="/img/subtract-5@2x.svg" alt="Subtract" />
                    <div class="percent-1">51%</div>
                </div>
                <div class="overlap-group4">
                    <div class="percent-2">63%</div>
                </div>
            </div>
            <div class="mental-health-container inter-medium-black-32px">
                <div class="mental-health-1">Mental Health</div>
                <div class="mental-health-2">Women Health</div>
                <div class="mental-health-3">Other Specialisations</div>
            </div>
            <div class="our-experienced-doctors roboto-black-eastern-blue-64px">OUR EXPERIENCED DOCTORS</div>
            <div class="frame-1">
                <div class="doc-card">
                    <img class="ellipse-9" src="/img/ellipse-9@2x.png" alt="Ellipse 9" />
                    <img class="vector" src="/img/vector-61@2x.svg" alt="Vector" />
                </div>
                <div class="doc-card-1">
                    <img class="ellipse-9" src="/img/ellipse-9-1@2x.png" alt="Ellipse 9" />
                    <img class="vector" src="/img/vector-62@2x.svg" alt="Vector" />
                </div>
                <div class="doc-card-2">
                    <img class="ellipse-9" src="/img/ellipse-9-2@2x.png" alt="Ellipse 9" />
                    <img class="vector" src="/img/vector-63@2x.svg" alt="Vector" />
                </div>
                <div class="doc-card-3">
                    <img class="vector-3" src="/img/vector-3@2x.png" alt="Vector" />
                    <img class="ellipse-9-2" src="/img/ellipse-9-3@2x.png" alt="Ellipse 9" />
                </div>
                <div class="doc-card-4">
                    <img class="ellipse-9-1" src="/img/ellipse-9-4@2x.png" alt="Ellipse 9" />
                    <img class="vector-1" src="/img/vector-4@2x.png" alt="Vector" />
                </div>
                <div class="doc-card-5">
                    <img class="ellipse-9-1" src="/img/ellipse-9-5@2x.png" alt="Ellipse 9" />
                    <img class="vector-1" src="/img/vector-5@2x.png" alt="Vector" />
                </div>
            </div>
            <div class="overlap-group8">
                <a href="about-us">
                    <div class="rectangle-17"></div>

                    <div class="meet-all roboto-bold-white-32px">MEET ALL</div>
                </a>
            </div>
            <div class="footer">
                <div class="flex-row">
                    <div class="flex-row-1">
                        <div class="flex-col-1">
                            <div class="ml-care roboto-black-white-96px">ML CARE</div>
                            <div class="vector-container">
                                <img class="vector-4" src="/img/vector-58@2x.svg" alt="Vector" />
                                <img class="vector-5" src="/img/vector-59@2x.svg" alt="Vector" />
                                <img class="vector-6" src="/img/vector-60@2x.svg" alt="Vector" />
                            </div>
                        </div>
                        <div class="lorem-ipsum-container inter-medium-white-24px">
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                            <div class="lorem-ipsum">Lorem Ipsum</div>
                        </div>
                    </div>
                    <div class="lorem-ipsum-container-1 inter-medium-white-24px">
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                        <div class="lorem-ipsum">Lorem Ipsum</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

    </html>